.main {
  width: 100vw;
  margin: 0 auto;
  padding: 0;
  background: #e2e6e2;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.container>* {
  flex: 1 1 1;
}

.product {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 3rem 1rem;
}

.product img {
  width: 100px;
  margin: 0 auto;
}

.product button {
  background: #4b5548;
  padding: 10px 5px;
  color: #e2e6e2;
  border: none;
  width: 150px;
  align-self: center;
}

.product .title {
  font-weight: 200;
  font-size: 14px;
}

.product .price {
  font-weight: 500;
  font-size: 16px;
}

/* Shopping cart styling */
.cart {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  transition: .8s ease-in;
}

.cart .overlay {
  background: rgba(0, 0, 0, .4);
  width: 50%;
  height: 100vh;
}

.cart .items {
  background: #f2f2f4;
  height: 100vh;
  width: 50%;
  overflow: scroll;
}

.cart .items .products {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart .items .products .item {
  width: 80%;
  margin: .5rem auto;
  background: #fff;
  padding: .4rem .5rem;
}

.cart .items .products .item .title {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.cart .items .products .item .title p {
  font-size: 12px;
  font-weight: 300;
}

.cart .items .products .item .scale {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.cart .items .products .item .scale .quantity {
  width: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #000;
  padding: 0rem .7rem;
}

.cart .items .products .item .scale .quantity>* {
  line-height: 0;
}

.cart .items .products .item .scale .image {
  width: 50px;
}
.cart .items .products .item .scale .image img {
  width: 100%;
  margin: 0 auto;
}